#!/usr/bin/make -f

DEB_DIVERT_EXTENSION = .test
DEB_TRANSFORM_FILES_mytestpackage += /home/hngu/mytestpackage/configfile.conf.test

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk
