## /etc/cobbler/dhcpd.template
# dhcpd.conf for Helia labs
# Copyright 2006 Tero Karvinen http://www.iki.fi/karvinen
# License: GNU General Public License, version 2 or later
# ChangeLog:
# 2006-03-27    Initial version, testing in Helia labs
## 2011-10-07	EDITED by Armens Movsesjans for AwaseConfigurations Project

# Don't set "authoritative" until everything else is correct in dhcpd.conf
authoritative;  # Warning: this overrides other DHCP servers
# Default options in Ubuntu:
ddns-update-style none;
default-lease-time 600;
max-lease-time 7200;
log-facility local7;
# Subnet row defines server's network card. Also set in "/etc/default/dhcp3-server"
# 'ifconfig' shows subnet (ipaddress, zeroes as in mask)
subnet 172.28.0.0 netmask 255.255.0.0 {
        host 172.28.212.1 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c0:8a:7f;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.1;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }	
        host 172.28.212.2 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c1:11:03;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.2;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.3 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c0:88:49;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.3;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.4 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c1:0a:83;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.4;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.5 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c0:88:fc;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.5;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.6 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c0:97:e7;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.6;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.7 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c1:0a:85;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.7;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.8 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c1:09:a6;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.8;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.9 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c0:8a:7b;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.9;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.10 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:ba:7a:6b;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.10;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.11 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c0:8e:ba;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.11;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.12 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c0:8d:e0;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.12;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.13 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c1:09:9c;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.13;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.14 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c1:09:56;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.14;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.15 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:ba:77:e4;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.15;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.16 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c1:08:56;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.16;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.17 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c1:09:ae;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.17;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.18 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:ba:78:0b;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.18;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.19 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c1:0a:42;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.19;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.20 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c2:8b:b5;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.20;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.21 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c0:8a:d0;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.21;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.22 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c2:8c:cd;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.22;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.23 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c0:88:62;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.23;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
        host 172.28.212.24 {
                # 'ping target_host', 'arp' shows MAC address
                # only give DHCP information to this computer:
                hardware ethernet aa:aa:aa:c1:09:cb;
                # Basic DHCP info (see 'ifconfig', 'route', 'cat /etc/resolv.conf')
                fixed-address 172.28.212.24;
                option subnet-mask 255.255.0.0;
                option routers 172.28.1.254;
                option domain-name-servers 172.28.11.67;
                # Non-essential DHCP options
                filename "/pxelinux.0";
        }
	
}

# *for Haaga-Helia labs just copy/cut host-blocks
# *only edit host, fixed-address, hardware ethernet
# http://awaseconfigurations.wordpress.com
